<!Doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/style.css">
	<script type="text/javascript" src="../public/js/bignumber.min.js"></script>
	<script type="text/javascript" src="../public/js/web3-light.js"></script>
	<script type="text/javascript" src="../public/js/ABI.js"></script>
	<script type="text/javascript" src="../public/js/CA.js"></script>
	<script type="text/javascript">
		console.log('starting...');
		//connect web3 and check if web3 is connected correctly
		if (typeof web3 !== 'undefined') {
			web3 = new Web3(web3.currentProvider);
		} else {
			// set the provider you want from Web3.providers
			web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}

		if (web3.isConnected()) {
			console.log("connected");
		} else {
			console.log("not connected")
		}
		var vc = web3.eth.contract(abi).at(CA);

		//크리에이트 어카운트
		/*function CreateAccount() {
			var strName = document.getElementById("name").value;
			var strPassword = document.getElementById("password").value;
			
			var bSuccess = vc.CreateAccount(strName, strPassword);
			console.log(bSuccess);
		}*/
		
		//이름에 대한 주소가 있는지 묻는다.
		/*function CheckName() {
			var strName = document.getElementById("name").value;
			
			var strAddress = vc.CheckName(name)
			console.log(strAddress);
			
			if(strAddress == "")
			{
				document.getElementById("address").value = "찾을 수 없습니다";
			}
			else
			{
				document.getElementById("address").value = strAddress;
			}
		}*/
		
		//주소와 비밀번호가 있는지 확인한다.
		function Login() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			console.log(strAddress);
			console.log(strPassword);
			try
			{
				var login = web3.personal.unlockAccount(strAddress, strPassword);
			}
			catch(error)
			{
				//처리
				console.log("실패했습니다");
			}
			console.log(login);
			
			if(login == true)
			{
				document.getElementById("IsLogin").value = "로그인 성공";
			}
			else
			{
				document.getElementById("IsLogin").value = "로그인 실패";
			}
		}
		
		//책 대출하기
		function BookLoan() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			
			var strBookID = document.getElementById("bookID").value;
			
			if (web3.personal.unlockAccount(strAddress, strPassword)) {
				vc.addBookHistory(strAddress, strBookID, 0, { from: strAddress, gas: 2000000 }, function (err, result) { if (!err) alert("트랜잭션이 성공적으로 전송되었습니다.|n" + result) });
			}
		}
		
		//책 반납하기
		function BookReturn() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			
			var strBookID = document.getElementById("bookID").value;
			
			if (web3.personal.unlockAccount(strAddress, strPassword)) {
				vc.addBookHistory(strAddress, strBookID, 1, { from: strAddress, gas: 2000000 }, function (err, result) { if (!err) alert("트랜잭션이 성공적으로 전송되었습니다.|n" + result) });
			}
		}

		//도서목록보기
		function showList() {
		
			//도서 목록 저장용 배열
			var listBook = new Array();
			
			//도서 목록을 배열에 담는다.
			var lengthBook = vc.getNumOfBooks();
			console.log("showList().length : " + lengthBook);
			
			for (var i = 0; i < lengthBook; i++) {
				var book = vc.getbookStruct(i);
				listBook[i] = book;
			}
			/*
            listBook = ["test, 사이킷런, 텐서플로", "HS01012", "세바스찬", "길벗", "2020-06-27"]

			//각 책별로 최종적으로 대출인지 반납인지 검색한다.
			var tableHistory = document.getElementById("tableBookHistory");
			var lengthHistory = vc.getNumOfBookHistory();
			console.log("lengthHistory().length : " + lengthHistory);
			for (var i = lengthHistory-1; i >= 0; i--) {
				var bookHistory = vc.getBookHistoryStruct(i);
				
				//대출이력 화면 표시부분
				var row = tableHistory.insertRow();
				//책 아이디
				row.insertCell(0).innerHTML = bookHistory[0];
				//대출자 Address
				row.insertCell(1).innerHTML = bookHistory[1];
				//대출일
				row.insertCell(2).innerHTML = new Date(bookHistory[2]*1000);
				//플래그(대출, 반납)
				var strTemp;
				if(bookHistory[3] == 0)
				{
					strTemp = "대출";
				}
				else
				{
					strTemp = "반납";
				}
				row.insertCell(3).innerHTML = strTemp;
			}
			*/
			
			//완성된 배열을 화면에 표시한다.
			var table = document.getElementById("tableBook");
			for (var i = 0; i < lengthBook; i++) {
				var book = listBook[i];
				var row = table.insertRow(1);
				//책 순서
				row.insertCell(0).innerHTML = i + 1;
				//책 이름
				row.insertCell(1).innerHTML = book[0];
				//책 아이디
				row.insertCell(2).innerHTML = book[1];
				//작가
				row.insertCell(3).innerHTML = book[2];
				//출판사
				row.insertCell(4).innerHTML = book[3];
				
				/*for(var i = lengthHistory-1; i >= 0; i--)
				{
					
				}*/
			}
		}
		function AddBook() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			console.log(strAddress);
			console.log(strPassword);
			
			var strBookID = document.getElementById("TempbookID").value;
			
			if (web3.personal.unlockAccount(strAddress, strPassword)) {
				vc.addBookStru(strBookID, strBookID, "작가" + strBookID, "출판사" + strBookID, { from: strAddress, gas: 2000000 }, function (err, result) { if (!err) alert("트랜잭션이 성공적으로 전송되었습니다.|n" + result) });
			}
		}
		/*
		function newAc() {
			var account = web3.personal.newAccount(document.getElementById('pass').value);
			console.log(account);
		}
		*/

	</script>
</head>
<body>
	<h1>Welcome, This is Hustar Library.</h1>
	<div id="nameContainer">
		(입출력)My name is
		<input type="text" id="address" value="0x9cff0442793c48e86a0d01534b85237f5428d1b0">
		<br>
	</div>
	<div id="passwordContainer">
		(입력)패스워드:
		<input type="password" id="password" value="eth">
		<button onclick="Login()">로그인</button>
		<!--<button onClick="CreateAccount()">계정 생성</button>-->
		<!--<button onClick="CheckName()">이름에 대한 지갑주소 묻기</button>-->
		<br>
		(출력)로그인성공여부표시:
		<input type="text" id="IsLogin" value="로그인확인용">
	</div>
	<div id="booksContainer">
		<h2>도서 현황</h2>
		<table class="tg" id="tableBook">
			<thead>
				<tr>
					<th class="tg-p7qa">No.</th>
					<th class="tg-p7qa">도서명</th>
					<th class="tg-p7qa">도서 ID</th>
					<th class="tg-p7qa"> 지은이</th>
					<th class="tg-p7qa">출판사</th>
					<th class="tg-rz9m">대출여부</th>
					<th class="tg-rz9m">대출자</th>
					<th class="tg-rz9m">반납예정일</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
					<td class="tg-nb2d"><input type="radio" name="chk_info" value="1"> 1</td>
					<td class="tg-nb2d">머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로</td>
					<td class="tg-nb2d">HS01012</td>
					<td class="tg-nb2d">세바스찬</td>
					<td class="tg-nb2d">길벗</td>
					<td class="tg-baqh">대출불가</td>
					<td class="tg-baqh">김영인</td>
					<td class="tg-baqh">2020-07-10</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<div id="checkOutContainer">
		<br>
		<span>책 제목 / 도서 ID / 지은이 / 출판사</span>
		<input type="text" id="bookID" value="도서ID">
		<button onclick="BookLoan()">대출하기</button>
	</div>
	<div id="myBooksContainer">
		<h2>내 대출 현황</h2>
		<table class="tg">
			<thead>
				<tr>
					<th class="tg-p7qa">No.</th>
					<th class="tg-p7qa">도서명</th>
					<th class="tg-p7qa">도서 ID</th>
					<th class="tg-p7qa"> 지은이</th>
					<th class="tg-p7qa">출판사</th>
					<th class="tg-rz9m">대출일</th>
					<th class="tg-rz9m">반납예정일</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tg-nb2d"><input type="radio" name="chk_info" value="1"> 1</td>
					<td class="tg-nb2d">머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로</td>
					<td class="tg-nb2d">HS01012</td>
					<td class="tg-nb2d">세바스찬</td>
					<td class="tg-nb2d">길벗</td>
					<td class="tg-baqh">2020-06-27</td>
					<td class="tg-baqh">2020-07-10</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="checkInContainer">
		<br>
		<span>책 제목 / 도서 ID / 지은이 / 출판사</span>
		<button onclick="BookReturn()">반납하기</button>
	</div>
	<div id="BookHistoryContainer">
		<h2>도서 History</h2>
		<table class="tg">
			<thead>
				<tr>
					<th class="tg-p7qa">No.</th>
					<th class="tg-p7qa">도서명</th>
					<th class="tg-p7qa">도서 ID</th>
					<th class="tg-p7qa">대출자</th>
					<th class="tg-rz9m">대출일</th>
					<th class="tg-rz9m">반납일</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tg-nb2d">1</td>
					<td class="tg-nb2d">머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로</td>
					<td class="tg-nb2d">HS01012</td>
					<td class="tg-nb2d">김영인</td>
					<td class="tg-baqh">2020-06-27</td>
					<td class="tg-baqh">2020-07-10</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="test">
		<br>
		<br>
		<br>
		테스트용 책 등록하기 (책 이름겸 아이디)
		<input type="text" id="TempbookID" value="책1">
		<button onClick="AddBook()">책 등록</button>
		<br>
		<br>
		<br>
		테스트용 책 대출,반납하기
		<br>
		책 ID
		<input type="text" id="TargetBookID" value="책1">
		<button onClick="BookLoan()">BookLoan</button>
		<button onClick="BookReturn()">BookReturn</button>
	</div>
	<br>
	<br>
	<br>

	<script>
		showList();
	</script>


</body>

</html>