<!Doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/css/style.css">
	<script type="text/javascript" src="../public/js/bignumber.min.js"></script>
	<script type="text/javascript" src="../public/js/web3-light.js"></script>
	<script type="text/javascript" src="../public/js/ABI.js"></script>
	<script type="text/javascript" src="../public/js/CA.js"></script>
	<script type="text/javascript">
		console.log('starting...');
		//connect web3 and check if web3 is connected correctly
		if (typeof web3 !== 'undefined') {
			web3 = new Web3(web3.currentProvider);
		} else {
			// set the provider you want from Web3.providers
			web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
		}

		if (web3.isConnected()) {
			console.log("connected");
		} else {
			console.log("not connected")
		}
		var vc = web3.eth.contract(abi).at(CA);
		console.log(vc);

		//크리에이트 어카운트
		/*function CreateAccount() {
			var strName = document.getElementById("name").value;
			var strPassword = document.getElementById("password").value;
			
			var bSuccess = vc.CreateAccount(strName, strPassword);
			console.log(bSuccess);
		}*/
		
		//이름에 대한 주소가 있는지 묻는다.
		/*function CheckName() {
			var strName = document.getElementById("name").value;
			
			var strAddress = vc.CheckName(name)
			console.log(strAddress);
			
			if(strAddress == "")
			{
				document.getElementById("address").value = "찾을 수 없습니다";
			}
			else
			{
				document.getElementById("address").value = strAddress;
			}
		}*/
		
		//주소와 비밀번호가 있는지 확인한다.
		function Login() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			console.log(strAddress);
			console.log(strPassword);
			try
			{
				var login = web3.personal.unlockAccount(strAddress, strPassword);
			}
			catch(error)
			{
				//처리
				console.log("실패했습니다");
			}
			console.log(login);
			
			if(login == true)
			{
				document.getElementById("IsLogin").value = "로그인 성공";
			}
			else
			{
				document.getElementById("IsLogin").value = "로그인 실패";
			}
		}
		
		//도서 목록 저장용 배열
		var listBook = new Array();
		var listBookHistory = new Array();
		
		//책 대출하기
		function BookLoan() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			
			var strBookID = document.getElementById("LoanBookID").value;
			
			console.log(strBookID);
			
			if (web3.personal.unlockAccount(strAddress, strPassword)) {
				vc.addBookHistory(strBookID, strAddress, 0, { from: strAddress, gas: 2000000 }, function (err, result) { if (!err) alert("트랜잭션이 성공적으로 전송되었습니다.|n" + result) });
			}
		}
		
		//책 반납하기
		function BookReturn() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			
			var strBookID = document.getElementById("returnBookID").value;
			
			console.log(strBookID);
			
			if (web3.personal.unlockAccount(strAddress, strPassword)) {
				vc.addBookHistory(strBookID, strAddress, 1, { from: strAddress, gas: 2000000 }, function (err, result) { if (!err) alert("트랜잭션이 성공적으로 전송되었습니다.|n" + result) });
			}
		}

		//도서목록보기
		function showList() {	
			//도서 목록을 배열에 담는다.
			var lengthBook = vc.getNumOfBooks();
			//console.log("showList().length : " + lengthBook);
			for (var i = 0; i < lengthBook; i++) {
				listBook[i] = vc.getbookStruct(i);
			}
			
            //listBook = [["test", "HS01012", "세바스찬", "길벗", "2020-06-27"],]

			//각 책별로 최종적으로 대출인지 반납인지 검색한다.
			var lengthHistory = vc.getNumOfBookHistory();
			console.log("lengthHistory().length : " + lengthHistory)
			for (var i = 0; i < lengthHistory; i++) {
				listBookHistory[i] = vc.getBookHistoryStruct(i);
			}
			
			var tableHistory = document.getElementById("tableBookHistory");
            for (var i = 0; i < lengthHistory ; i++) {
				var bookHistory = listBookHistory[i];
				//대출이력 화면 표시부분
				var row = tableHistory.insertRow();
				//순서
				row.insertCell(0).innerHTML = i;
				//도서명
				row.insertCell(1).innerHTML = GetBookNameByID(bookHistory[0]);
				//도서ID
				row.insertCell(2).innerHTML = bookHistory[0];
				
				row.insertCell(3).innerHTML = bookHistory[1];
				
				var RoanDate = new Date(bookHistory[2]*1000);
				
				row.insertCell(4).innerHTML = RoanDate.toLocaleString();
				
				row.insertCell(5).innerHTML = GetReturnDate(RoanDate).toLocaleString();
			}
			
			
			//완성된 배열을 화면에 표시한다.
			var table = document.getElementById("tableBook");
			for (var i = 0; i < listBook.length; i++) {
				var book = listBook[i];
				var toString = book.toString();
				console.log(toString);
				var strArray = toString.split(',');
				console.log(strArray);
				


				var row = table.insertRow();
				//인덱스
				/*var newRadio = document.createElement("input");
				newRadio.setAttribute("type", "radio");
                newRadio.setAttribute("name", "chk_info");
                newRadio.setAttribute("value", i+1);
				*/
                row.insertCell(0).innerHTML = i+1;
				//var row = row.insertCell(0);
				//row.setAttribute("id", `row${i}`);
				//var rowDom = document.getElementById(`row${i}`);
				//rowDom.appendChild(newRadio);
                //책 이름
				row.insertCell(1).innerHTML = book[0];
				//책 아이디
				row.insertCell(2).innerHTML = book[1];
				//지은이
				row.insertCell(3).innerHTML = book[2];
				//출판사
				row.insertCell(4).innerHTML = book[3];

				var isLoan = false;
				var j;
                for (j = lengthHistory-1; j >= 0; j--)
				{
					if(listBookHistory[j][0] == book[1])
					{
						console.log("test : " + listBookHistory[j][3]);
						if (listBookHistory[j][3] == 0) {
							isLoan = true;
						}
						break;
					}
				}
				
                if (isLoan == true) {
                    row.insertCell(5).innerHTML = "대출불가";
                    row.insertCell(6).innerHTML = listBookHistory[j][1];
                    row.insertCell(7).innerHTML = new Date(listBookHistory[j][2] * 1000);
                } else {
                    row.insertCell(5).innerHTML = "대출가능";
					row.insertCell(6).innerHTML = "";
                    row.insertCell(7).innerHTML = "";
                }
				//대출자
                //row.insertCell(6).innerHTML = "김영인";
				//반납기한
				//row.insertCell(7).innerHTML = book[4];
				
				
			}
		}
		
		function GetBookNameByID(strBookID)
		{
			for(var i = 0; i < listBook.length; ++i)
			{
				if(listBook[i][1] == strBookID)
					return listBook[i][0]
			}
			return null;
		}
		
		function GetReturnDate(RoanDate)
		{
			return RoanDate.setDate(RoanDate.getDate() + 14);
		}
		
		function AddBook() {
			var strAddress = document.getElementById("address").value;
			var strPassword = document.getElementById("password").value;
			console.log(strAddress);
			console.log(strPassword);
			
			var strBookID = document.getElementById("TempbookID").value;
			
			if (web3.personal.unlockAccount(strAddress, strPassword)) {
				vc.addBookStru(strBookID, strBookID + "ID", "작가" + strBookID, "출판사" + strBookID, { from: strAddress, gas: 2000000 }, function (err, result) { if (!err) alert("트랜잭션이 성공적으로 전송되었습니다.|n" + result) });
			}
		}
		/*
		function newAc() {
			var account = web3.personal.newAccount(document.getElementById('pass').value);
			console.log(account);
		}
		*/

	</script>
</head>
<body>
	<h1>Welcome, This is Hustar Library.</h1>
	<div id="nameContainer">
		(입출력)My name is
		<input type="text" id="address" value="0x7fa21fa15ff028a0e922ed9bf72eed38fa144d2e">
		<br>
	</div>
	<div id="passwordContainer">
		(입력)패스워드:
		<input type="password" id="password" value="eth">
		<button onclick="Login()">로그인</button>
		<!--<button onClick="CreateAccount()">계정 생성</button>-->
		<!--<button onClick="CheckName()">이름에 대한 지갑주소 묻기</button>-->
		<br>
		(출력)로그인성공여부표시:
		<input type="text" id="IsLogin" value="로그인확인용">
	</div>
	<div id="booksContainer">
		<h2>도서 현황</h2>
		<table class="tg" id="tableBook">
			<thead>
				<tr>
					<th class="tg-p7qa">No.</th>
					<th class="tg-p7qa">도서명</th>
					<th class="tg-p7qa">도서 ID</th>
					<th class="tg-p7qa"> 지은이</th>
					<th class="tg-p7qa">출판사</th>
					<th class="tg-rz9m">대출여부</th>
					<th class="tg-rz9m">대출자</th>
					<th class="tg-rz9m">반납기한</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
					<td class="tg-nb2d"> 1</td>
					<td class="tg-nb2d">머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로</td>
					<td class="tg-nb2d">HS01012</td>
					<td class="tg-nb2d">세바스찬</td>
					<td class="tg-nb2d">길벗</td>
					<td class="tg-baqh">대출불가</td>
					<td class="tg-baqh">김영인</td>
					<td class="tg-baqh">2020-07-10</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<div id="checkOutContainer">
		<br>
		<input type="text" id="LoanBookID" value="도서ID">
		<button onclick="BookLoan()">대출하기</button>
	</div>
	<div id="myBooksContainer">
		<h2>내 대출 현황</h2>
		<table class="tg">
			<thead>
				<tr>
					<th class="tg-p7qa">No.</th>
					<th class="tg-p7qa">도서명</th>
					<th class="tg-p7qa">도서 ID</th>
					<th class="tg-p7qa"> 지은이</th>
					<th class="tg-p7qa">출판사</th>
					<th class="tg-rz9m">대출일</th>
					<th class="tg-rz9m">반납기한</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
					<td class="tg-nb2d"><input type="radio" name="chk_info" value="1"> 1</td>
					<td class="tg-nb2d">머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로</td>
					<td class="tg-nb2d">HS01012</td>
					<td class="tg-nb2d">세바스찬</td>
					<td class="tg-nb2d">길벗</td>
					<td class="tg-baqh">2020-06-27</td>
					<td class="tg-baqh">2020-07-10</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<div id="checkInContainer">
		<br>
		<input type="text" id="returnBookID" value="도서ID">
		<button onclick="BookReturn()">반납하기</button>
	</div>
	<div id="BookHistoryContainer">
		<h2>도서 History</h2>
		<table class="tg" id="tableBookHistory">
			<thead>
				<tr>
					<th class="tg-p7qa">No.</th>
					<th class="tg-p7qa">도서명</th>
					<th class="tg-p7qa">도서 ID</th>
					<th class="tg-p7qa">대출자</th>
					<th class="tg-rz9m">대출일</th>
					<th class="tg-rz9m">반납일</th>
				</tr>
			</thead>
			<tbody>
				<!--<tr>
					<td class="tg-nb2d">1</td>
					<td class="tg-nb2d">머신러닝 교과서 with 파이썬, 사이킷런, 텐서플로</td>
					<td class="tg-nb2d">HS01012</td>
					<td class="tg-nb2d">김영인</td>
					<td class="tg-baqh">2020-06-27</td>
					<td class="tg-baqh">2020-07-10</td>
				</tr>-->
			</tbody>
		</table>
	</div>
	<div id="test">
		<br>
		<br>
		<br>
		테스트용 책 등록하기 (책 이름겸 아이디)
		<input type="text" id="TempbookID" value="책1">
		<button onClick="AddBook()">책 등록</button>
		<br>
		<br>
		<br>
		테스트용 책 대출,반납하기
		<br>
		책 ID
		<input type="text" id="TargetBookID" value="책1">
		<button onClick="BookLoan()">BookLoan</button>
		<button onClick="BookReturn()">BookReturn</button>
	</div>
	<br>
	<br>
	<br>

	<script>
		showList();
	</script>


</body>

</html>